html{
  font-size: 16px;
}

.gameBoard{
  padding: 0 10rem;
}

.buttons-container{
  margin: 0 auto;
  width: 70%;
}

button{
  margin: 1.5rem .5rem;
  padding: .7rem;
  border-radius: 10px;
  outline: none;
  background-color: #e80909;
  color: #ffffff;
}

button:hover{
  background-color: #e53434;
}

@media only screen and (max-width: 1330px) {
  .gameBoard{
    padding: 0 2rem;
  }

  .buttons-container{
    width: 80%;
  }
}